@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-2lg;
    }
    h4 {
        @apply text-lg;
    }
    h5 {
        @apply text-md;
    }
    h6 {
        @apply text-2sm;
    }
    .body-small {
        @apply text-sm;
    }
}

.btn--primary {
    @apply bg-primary-100 text-white-100 text-md;
}

.btn--blue {
    @apply bg-primary-40 text-primary-100 text-md;
}

.btn--transparent {
    @apply bg-[#F5F5F6]  py-2 border hover:bg-white-100 text-black-100 text-md  rounded-lg;
}
.btn--black {
    @apply border border-black-100 text-black-100 bg-transparent py-2 text-md;
}
.btn--red {
    @apply bg-red-100 py-2  text-white-100 text-md font-semibold;
}
// .btn--gray {
//     @apply bg-[#FAFAFA] py-2 border border-black-100 text-black-100 text-md sm:text-2md;
// }
// .btn--white {
//     @apply bg-[#E5E5E5] text-md sm:text-2md py-2 text-black-100;
// }

// .btn--clear {
//     @apply bg-transparent border py-2 text-md sm:text-2md rounded-[35px];
// }

.btn--border {
    @apply bg-white-100 border border-primary-100 text-primary-100 py-2;
}

.btn--red {
    @apply text-[#707070] border border-[#FF5C5C] text-md;
}

body {
    margin: 0;
    font-family:
        "nunito",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
